<html>
    <head>
        <title>Henriettas blogg</title>
    </head>
    <body>
    	<div>
    	<h1> La oss prøve dette</h1> 
    	</div>

    	<div>
    	 	<h2> Første innlegg </h2>
    	 </div>

			<p>Hi there!</p>
        	<p>It works!</p>

    </body>
</html>



<!--<h1>A heading</h1> - for your most important heading
<h2>A sub-heading</h2> for a heading at the next level
<h3>A sub-sub-heading</h3> ... and so on, up to <h6>
<em>text</em> emphasizes your text
<strong>text</strong> strongly emphasizes your text
<br /> goes to another line (you can't put anything inside br)
<a href="http://djangogirls.org">link</a> creates a link
<ul><li>first item</li><li>second item</li></ul> makes a list, just like this one!
<div></div> defines a section of the page -->
